<div class="main-container">
        

        <div class="content-container">
            <nav class="sidenav">
                <section class="sidenav-content">
                    
                    <section class="nav-group collapsible">
                        <input id="tabexample1" type="checkbox">
                        <label for="tabexample1">Categories</label>
                        <ul class="nav-list">
                            <li><a class="nav-link">financial</a></li>
                            <li><a class="nav-link">Sociale</a></li>
                            <li><a class="nav-link">familiale</a></li>
                        </ul>
                    </section>


                    <section class="nav-group ">
                            <input id="tabexample1" type="checkbox">
                            <label for="tabexample1">MonCompte</label>
                            <ul class="nav-list">
                                <li><a class="nav-link">Profil</a></li>
                                <li><a class="nav-link">Contact</a></li>
                                <li><a class="nav-link">Historique</a></li>
                                <li><a class="nav-link">Déconnexion</a></li>
                            </ul>
                 </section>
                    
                </section>
            </nav>
            <div class="content-area">
                ...
            </div>
        </div>
    </div>