<div class="conteneur">
    <span class="label" style="margin-left: 0%;">financial</span>
    <span class="label">Sociale</span>
    <span class="label">familiale</span>
    
    <div  class="clr-col-lg-12">
            <a  class="card clickable">
                    <div class="card-header">
                            <h1>j'ai besoin d'aide </h1>
                            <p class="card-text">Description :<br> je suis un éleve ingénieur et j'ai un trouble financiére donc je peux pas poursuivre mes études,j'ai décidé de les abandonner  
                            </p>

                     </div>
                
                <div class="">
                    <p class="card-text"></p>
                    
                   
                </div>
                <h4 style="text-align: center;" >Evaluations </h4>

                <div class="clr-row">      
                        <div class="clr-col-12 clr-col-sm-6">
                            <!------------------------------------------------------------------->
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">khalil</h4>
                                    <p class="card-text">t'inquiète pas ,j'ai passé par la méme situation j'ai trouver une bonne solution , j'ai travaillé chaque jours  et pendant  les vacances dans un restaurant,aussi  j'ai  passé mon parcours avec une grande réussite.  </p>
                                    <div class="progress-block">
                                       
                                        <div class="progress-static">
                                            <div class="progress-meter" data-value="90"></div>
                                        </div>
                                        
                                    </div>
                                    <a style="color:black">j'aime</a>
                             </div>
                                

                         <!-------------------------------------------------------------------->
                         <!------------------------------------------------------------------->
                         
                                <div class="card-block">
                                    <h4 class="card-title">Atef</h4>
                                    <p class="card-text">j'ai accroché une bourse dans une grande université et je te conseille de rapprocher plus aux entreprises</p>
                                    <div class="progress-block">
                                       
                                        <div class="progress-static">
                                            <div class="progress-meter" data-value="70"></div>
                                        </div>
                                    </div>
                                    <a style="color:black">j'aime</a>
                                  </div>
                                
                         <!-------------------------------------------------------------------->
                          <!------------------------------------------------------------------->
                         
                          <div class="card-block">
                                <h4 class="card-title">Samar</h4>
                                <p class="card-text">j'ai passé par la méme situation et j'ai trouver une famille qui me supporte.</p>
                                <div class="progress-block">
                                   
                                    <div class="progress-static">
                                        <div class="progress-meter" data-value="30"></div>
                                    </div>
                                </div>
                                <a style="color:black">j'aime</a>
                              </div>
                            
                     <!-------------------------------------------------------------------->
                      <!------------------------------------------------------------------->
                         
                      <div class="card-block">
                            <h4 class="card-title">Kodwa</h4>
                            <p class="card-text">C'est pire que vous faites.</p>
                            <div class="progress-block">
                               
                                <div class="progress-static">
                                    <div class="progress-meter" data-value="10"></div>
                                </div>
                            </div>
                            <a style="color:black">j'aime</a>
                          </div>
                        
                 <!-------------------------------------------------------------------->
                  <!------------------------------------------------------------------->
                         
                  <div class="card-block">
                        <h4 class="card-title">Oussama</h4>
                        <p class="card-text">C'est pire que vous faites </p>
                        <div class="progress-block">
                           
                            <div class="progress-static">
                                <div class="progress-meter" data-value="10"></div>
                            </div>
                        </div>
                        <a style="color:black">j'aime</a>
                      </div>
                    
             <!-------------------------------------------------------------------->
              <!------------------------------------------------------------------->
                         
              <div class="card-block">
                    <h4 class="card-title">Mohamed</h4>
                    <p class="card-text">trouver une métié</p>
                    <div class="progress-block">
                       
                        <div class="progress-static">
                            <div class="progress-meter" data-value="0"></div>
                        </div>
                    </div>
                    <a style="color:black">j'aime</a>
                  </div>
                
         <!-------------------------------------------------------------------->
                            </div>
                        </div>
                    </div>


            </a>

    </div>

</div>

